<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<%- include('../partials/header') -%>

<body class="m-20">
    <h1 class="text-3xl text-green-600 text-center mb-5 mt-5">Welcome to User Page</h1>
    <ul>
   <% users.forEach(user => { %>
         <li>
             <h2><%= user.fullName%></h2>
             <p><%= user.email %></p>
        </li>
         
    <% }) %>       
    </ul>

</body>
</html>
<%- include('../partials/footer') -%>
