<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
</head>
<body class="bg-blue-300">
    <header class="flex justify-between">
        <a class="text-white text-3xl font-bold " href="/users"> <span class="text-blue-700">Alt</span>Users</a>
        <nav>
            <ul class="flex">
                <li>
                    <a class="font-bold text-white text-2xl" href="/users">Home Page</a>
                </li>
                <li>
                    <a class="font-bold text-white text-2xl mx-10 border-blue-500" href="/users/register">Add User</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
</body>
</html>
