<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <footer class="bg-blue-800 text-center p-5">
            <small class="font-bold text-xl text-white">&copy AltBlog.pvt.ltd</small>
    </footer>
</body>
</html>